.content{
	width: 100%;
	height: 100%;
	background-color: black;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}
.lineChart{
	width: 400px;
}
.lineChart .head{
	width: 500px;
	height: 400px;
	color: #ccc;
}
.lineChart .xz{
	width: 500px;
	height: 400px;
}
.mapChart .total{
	
}
.mapChart .map{
	
}